@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
:root{
	--main-color:#97978D;
	--black:#222;
	--white:#fff;
	--light-black:#777;
	--light-white:#fff9;
	--dark-bg:rgba(0,0,0,7);
	--light-bg:#eee;
	--border:.1rem solid var(--black);
	--box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
	--text-shadow:0 1.5rem 3rem rgba(0,0,0,.3); 


}
*{
	font-family: 'Kanit', sans-serif;
	margin: 0;padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;text-decoration: none;
	text-transform: capitalize;

}
html{
	font-size: 62.5%;
	overflow-x: hidden; 

}
html::-webkit-scrollbar{
	width: 1rem;
}
html::-webkit-scrollbar-track{
	background-color: var(--white);

}
html::-webkit-scrollbar-thumb{
	background-color: var(--main-color);
	
}
section{

	padding: 5rem 10%;	

}
.heading{
	background-size: cover !important;
	background-position: center !important;
	padding-top: 10rem;
	padding-bottom:15rem;
	display: flex;
	align-items: center;
	justify-content: center;


}
.heading_title{
	text-align: center;
	margin-bottom:3rem;
	font-size: 4rem;
	text-transform: uppercase;
	color: var(--black);
}
.heading h1{
	font-size: 5rem;
	color :var(--white);
	text-shadow: var(--text-shadow);

}
.btn{
	display: inline-block;
	background:var(--black);
	margin-top: 1rem;
	color: var(--white);
	font-size: 1.2rem;
	padding: 0.5rem 2rem;
	cursor: pointer;	
}
.btn:hover{
	background: var(--main-color);
}
.header{
	position: sticky;
	top: 0;
	left: 0;
	right:0;
	z-index: 1000;
	background-color: var(--white);
	display: flex;
	padding-top: 2rem;
	padding-bottom: 2rem;
	box-shadow: var(--box-shadow);
	align-items:right;
	justify-content: space-between;
}

.header .logo{
	

}

.header .navbar a{
	font-size: 1.9rem;
	margin-left: 3rem;
	color: var(--black);
}

.header .navbar a:hover{
	color: var(--main-color);
}

.home-about{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.home-about .imge{
	flex: 1 1 41rem;
}
.home-about .imge img{
	width: 100%;
}
.home-about .content{
	
	flex: 1 1 41rem;
}
.home-about h3{
	float: left;
}
.home-about p{
	float: right;
}
.home-about a{
	float: left;
}
.home-packages{
	background: var(--light-bg);
}
.home-packages h1{
	font-size: 3.2rem;
	color: var(--black);
	text-align: center;
}
.home-packages .box-container{
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
	gap:2rem;
}
.home-packages .box-container .box{
	border: var(--border);
	box-shadow: var(--box-shadow);
	background: var(--white);
}

.home-packages .box-container .box .imge{
	height: 25rem;
	overflow: hidden;
}
.home-packages .box-container .box .imge img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	transition: .2s linear;
}
.home-packages .box-container .box .content{
	padding: 2rem;
	text-align: center;
}
.home-packages .box-container .box .content h3{
	font-size: 2.5rem;
	color: var(--black);
}
.home-packages .box-container .box .content p{
	font-size: 1.5rem;
	color: var(--light-black);
	line-height: 2;
	padding: 1rem,0;

}

.home-packages .load-more{
	text-align: center;
	margin-top: 2rem;
}

.home-offer{
	text-align: center;
}
.home-offer .content{
	margin:0;
	
}
.home-offer .content h3{
	font-size: 3rem;
	text-transform: uppercase;
	color: var(--black);
	text-align: center;
}
.home-offer .content p{
	font-size: 1.5rem;
	color: var(--light-black);
	line-height: 2;
	padding: 1rem 0;
	text-align: center;
}


.about{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.about .imge{
	flex: 1 1 41rem;
}
.about .imge img{
	width: 100%;
}
.about .content{
	
	flex: 1 1 41rem;
	padding: 3rem;
	
}
.about .content h3{
	font-size: 2.5rem;
	color: #222;

}
.about .content p{
	font-size: 1.8rem;
	padding: 1rem 0;
	line-height: 2;
	color: #222;

}
.about .content .icons-container{
	margin-top: 2rem;
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
	align-items: flex-end;
}
.about .content .icons-container .icons{
	background: var(--light-bg);
	padding: 2rem;
	flex: 1 1 16rem;


}
.about .content .icons-container .icons i{
	font-size: 4rem;
	margin-bottom: 2rem;
	color: var(--main-color);
}

.about .content .icons-container .icons span{
	font-size: 1.5rem;
	color: var(--light-black);
	display: block;
}
.booking{
	display: flex;
	align-items: center;
	flex-wrap: wrap;

}
.booking .heading_title .book_from{
	display: flex;
	background: var(--light-bg);
}
.booking .book_from .flex{
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
}
.booking .book_from .flex .inputBox{
	flex: 1 1 41rem;
}
.booking .book_from .flex .inputBox input {
	width: 100%;
	padding: 1.2rem 1.4rem;
	font-size: 1.6rem;
	color: var(--light-black);
	text-transform: none;
	margin-top: 1.5rem;
	border: var(--border);
}
.booking .book_from .flex .inputBox textarea {
	width: 100%;
	padding: 1.2rem 1.4rem;
	font-size: 1.6rem;
	color: var(--light-black);
	text-transform: none;
	margin-top: 1.5rem;
	border: var(--border);
}
.booking .book_from .flex .inputBox input:focus{
	background: var(--black);
	color: var(--white);
}
.booking .book_from .flex .inputBox textarea:focus{
	background: var(--black);
	color: var(--white);
}
.booking .book_from .flex .inputBox input:focus::placeholder
{
	color: var(--light-white);
}
.booking .book_from .flex .inputBox textarea:focus::placeholder
{
	color: var(--light-white);
}
.booking .book_from .flex .inputBox span{
	font-size: 1.5rem;
	color: var(--light-black);
}
.booking .book_from .btn{
margin-top: 2rem;
}




.footer{
	background-color: #6b7280;
		background-size: cover;
		background-position: center;
		background-attachment: fixed; 
}
.footer .box-container{
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
	gap:3rem;
}
.footer .box{
	text-align: center;
	padding-right: 1.5rem;
}
.footer .box-container .box h3{
	color:var(--white);
	font-size: 2.5rem;
	padding-bottom: 1rem;


}

.footer .box-container .box a{
	color:var(--light-white);
	font-size: 1rem;
	padding-bottom: 0.5rem;
	display: block;

}

.footer .box-container .box a i{
	color: var(--main-color);
	padding-right: .5rem;
	transition: .2s liner;

}

.footer .box-container .box a:hover i{
	
	padding-right: 2rem;
}










@media(max-width: 1200px){
	section{
		padding:3rem 5%; 
	}
	.footer{
		position: absolute;
		top:1%;left: 0;right: 0;
		
		border-top:var(--border);
		padding: 2rem; 

	}
	.footer .box-container{
		display: block;
		margin: 2rem;
		text-align: center;
	}
	.footer .box{
		display: block;
		margin: 2rem;
		text-align: center;
	}
	.footer .box-container a{

		display: block;
		margin: 2rem;
		text-align: center;
	}
}
@media(max-width: 991px){
	html{
		font-size: 55%;
	}

	section{
		padding:3rem 2rem; 
	}
}
@media(max-width: 768px){

	#menu-btn{
	
	display: inline-block;

	}

	.header .navbar{
		position: absolute;
		top:99%;left: 0;right: 0;
		background-color: var(--white); 
		border-top:var(--border);
		padding: 2rem; 
	}
	.header .navbar a{
		display: block;
		margin: 2rem;
		text-align: center;
	}
	.footer{
		position: absolute;
		top:1%;left: 0;right: 0;
		
		border-top:var(--border);
		padding: 2rem; 

	}
	.footer .box-container{
		display: block;
		margin: 2rem;
		text-align: center;
	}
	.footer .box-container a{

		display: block;
		margin: 2rem;
		text-align: center;
	}
	.slideshow-container{
		display: block;
		margin: 2rem;
		text-align: center;

	}
	.slideshow-container .mySlides fade{
		display: block;
		margin: 2rem;
		text-align: center;

	}
	.home-about{
		position: absolute;
		top:56%;left: 0;right: 0;
		
		border-top:var(--border);
		padding: 2rem; 
	}
	.home-about .imge{
		display: block;
		margin: 2rem;
		text-align: center;
	}
	.home-about .imge img{
		display: block;
		margin: 2rem;
		text-align: center;
	}
	.home-about .content{
		display: block;
		margin: 2rem;
		text-align: center;
	}
	.home-about .content h3{
		display: block;
		margin: 2rem;
		text-align: center;
	}
	.home-about .content p{
		display: block;
		margin: 2rem;
		text-align: center;
	}

}

@media(max-width: 450px){
	html{
		font-size: 50%;
	}

}
